/* -- Footer container -- */
.footer {
    width: 100%;
    padding: 20px 0px;
    /* -- */
    color: #FFF;
    background: #00607F;
}
/* -- */
.copyright {font-weight: 300;}
/* -- */
.semibold {font-weight: 600;}
